.user-register {
  max-width: 630px;
  box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  margin: 45px auto 45px auto;
  padding: 75px 50px 50px 50px;
  .login-elements {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
  }
}

.input-wrapper {
  position: relative;
  line-height: 14px;
  margin-bottom: 20px;

  .password-show {
    position: absolute;
    right: 10px;
    top: 20px;

    img {
      width: 20px;
    }
  }

  label {
    color: #4d4d4d;
    font-size: 16px;
    padding: 0 5px;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 22px;
    pointer-events: none;
    background: #fff;
    -webkit-transition: -webkit-transform 250ms ease;
    -moz-transition: -moz-transform 250ms ease;
    -o-transition: -o-transform 250ms ease;
    -ms-transition: -ms-transform 250ms ease;
    transition: transform 250ms ease;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  input {
    font-size: 20px;
    color: #383838;
    outline: none;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 3px 6px #00000029;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    position: relative;
    width: 100%;

    &:invalid + label {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    &:focus {
      border-color: #bbbbbb;

      + label {
        color: #8a8989;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #383838;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 6px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
//checkboxes css


/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;

  + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 18px/20px 'Open Sans', Arial, sans-serif;
    color: #4d4d4d;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #4d4d4d;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .20s, border-color .08s;
      transition: all .20s, border-color .08s;
    }
  }

  &:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}


//Btn css start
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background: linear-gradient(to right, #0062E6, #23a8ff);
  border-color: #288feb;
}
.btn-primary:hover {
  color: #fff;
  background: linear-gradient(to right, #0062E6, #23a8ff);
  border-color: #288feb;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background: linear-gradient(to right, #0062E6, #23a8ff);
  border-color: #288feb;
}

.btn-dark {
  color: #fff;
  background: linear-gradient(to right, #233141, #5d5d5d);
  border-color: #1E1E1E;
}
.btn-dark:hover {
  color: #fff;
  background: linear-gradient(to right, #233141, #5d5d5d);
  border-color: #1E1E1E;
}
.btn-dark.focus, .btn-dark:focus {
  box-shadow: none;
}
.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
  color: #fff;
  background: linear-gradient(to right, #233141, #5d5d5d);
  border-color: #1E1E1E;
}
//Btn css end

//sign-up-flow css start
.signup-steps {
  margin: 50px 0 25px 0;
  .nav-pills .nav-link {
    color: #000;
    font-size: 18px;
  }
  .step-counter {
    padding: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #fff;
    background-color: #655c5c;
    vertical-align: middle;
    margin-right: 5px;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: transparent;
    font-weight: 600;
    .step-counter {
      padding: 3px;
      font-weight: 600;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      color: #fff;
      background: linear-gradient(to right, #0062E6, #23a8ff);
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}
.sign-up-flow {
  box-shadow: 0px 3px 6px #00000029;
  padding: 75px 50px 50px 50px;
  margin-bottom: 50px;
  .signup-form {
    max-width: 720px;
    width: 100%;
    margin: 0 auto 45px auto;
  }
}

.price-nav-tab {
  background-color: #ebebeb;
  border-bottom: none;
  text-align: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  border-radius: 30px;

  .nav-tabs .nav-item {
    margin-bottom: -1px;
  }
  .nav-link {
    display: block;
    padding: 12px 10px;
    width: 135px;
    border: none;
    border-radius: 30px;
  }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none transparent;
    opacity: 0.7;
    transition: all 0.2s;
  }
  .nav-item.show .nav-link, .nav-link.active {
    color: #fff;
    background: linear-gradient(to right, #0062E6, #23a8ff);
    border-color: #288feb;
    transition: all 0.5s ease-in-out;
  }
}
.pricing-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.pricing-section .card {
  border: none;
  border-radius: 2px;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing-section hr {
  margin: 1.5rem 0;
}

.pricing-section .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing-section .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing-section .card-price .period {
  font-size: 0.8rem;
}

.pricing-section ul li {
  margin-bottom: 1rem;
}

.pricing-section .text-muted {
  opacity: 0.7;
}

.pricing-section .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */
.congrats-img {
  img {
    max-width: 347px;
    width: 100%;
    border-radius: 100%;
    margin: 50px 15px;
  }
}
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}


